.env
.DS_Store
SAM3/hf_token.txt
data/
evaluation/runtime_logs/
evaluation/eval_tnt/*/

exps*/
checkpoints/
*.pyc
.vscode
**__pycache__**
**/tmp
**tmp_build**
**test_cuda**
*.egg-info/
*build/
tmp*/

planarSplat_ExpRes/
TSDF_test/
my_experiments/
A2_progress/
A3_progress/
Vanilla/
AdaptivePS/
Ablation/